body {
  background-image: url(https://pbs.twimg.com/media/FouqXBjWYAAHnUo.jpg:large);
  background-size: cover;
  align-items: center;
  min-height: 100vh;
}

h3 {
  color: white;
}
a {
  text-decoration: none;
}

.text {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.solucion {
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.contenedor1 {
  text-align: center;
}

.btn {
  margin-top: 1em;
  width: 100%;
  background-color: rgb(88, 11, 124);
  padding: 0.5em;
  color: white;
  font-weight: bolder;
}
